{% extends "main/base.html"%}{% load i18n %} {% block content%}
<!--------------- hero section starts here --------------->
<div class="hero">
    <div class="header">
        <h1 class="line anim-typewriter">{% trans "Love learning and doing IT stuff." %}</h1>
    </div>
</div>

<div class="scroll-down"></div>
<!--------------- hero section ends here --------------->

<!--------------- experiance section starts here --------------->

<div class="container-fluid">
    <h6>{% trans "Experience" %}</h6>

    <div id="one-by-one">
        <div class="vertical">
            <b>Software AG WebMethods</b><br>
            <span>.</span>Integration Server<br>
            <span>.</span>Universal Messaging<br>
            <span>.</span>API Portal<br>
            <span>.</span>API Gateway<br>
        </div>

        <div class="vertical">
            <b>WEB</b><br>
            <span>.</span>REST API<br>
        </div>

        <div class="vertical">
            <b>Front-End</b><br>
            <span>.</span>JavaScript<br>
            <span>.</span>Angular<br>
        </div>

        <div class="vertical">
            <b>Back-End</b><br>
            <span>.</span>Python<br>
            <span>.</span>Java<br>
        </div>

        <div class="vertical">
            <b>DB</b><br>
            <span>.</span>Oracle<br>
            <span>.</span>MySQL<br>
            <span>.</span>SQLite<br>
            <span>.</span>Postgre<br>
        </div>
        <div class="vertical">
            <b>Ops</b><br>
            <span>.</span>Linux<br>
            <span>.</span>Docker<br>
        </div>
    </div>
    <br>

    <div class="whitespace"></div>
    <div class="whitespace"></div>
    <div class="whitespace"></div>
</div>

<!--------------- experiance section ends here --------------->


<!--------------- projects section starts here --------------->
<div class="container-fluid">
    <div id="one-by-one">
        <h6>{% trans "Selected projects" %}</h6>
        <div class="vertical">
            <a href="https://kateneedles.pl/">Kate Needles</a><br>

        </div>
        <div class="vertical">
            <a href="{% url 'blog-home' %}">My Django blog</a>
        </div>

    </div>
    <br>

    <div class="whitespace"></div>
    <div class="whitespace"></div>

    <!-- <div class="row">
        <div class="col-lg-8"></div>

        <div class="col-lg-4 project project1 wow fadeInUp" onclick="location.href='project.html'"></div>
    </div>

    <div class="whitespace"></div>

    <div class="row">
        <div class="col-lg-6 project project2 wow fadeInUp" onclick="location.href='project.html'"></div>

        <div class="col-lg-6"></div>
    </div>

    <div class="whitespace"></div>

    <div class="row">
        <div class="col-lg-7"></div>

        <div class="col-lg-4 project project3 wow fadeInUp" onclick="location.href='project.html'"></div>

        <div class="col-lg-1"></div>
    </div>

    <div class="whitespace"></div>

    <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-5 project project4 wow fadeInUp" onclick="location.href='project.html'"></div>

        <div class="col-lg-6"></div>
    </div> -->

    <div class="whitespace"></div>
</div>
<!--------------- projects section ends here --------------->

{% endblock %}