{% extends "main/base.html"%}{% load i18n %} {% block content%}
<!--------------- hero section starts here --------------->
<div class="hero">
    <div class="header">
        <h1 class="line anim-typewriter">{% trans "Love learning and doing IT stuff." %}</h1>
    </div>
</div>

<div class="scroll-down"></div>
<!--------------- hero section ends here --------------->



<!--------------- projects section starts here --------------->
<div class="container-fluid">
    <br><br><br>

    <h6>{% trans "Selected projects" %}</h6>
    <div class="vertical">Test
        <br> First
        <br>Second
    </div>
    <br>

    <div class="whitespace"></div>
    <div class="whitespace"></div>

    <!-- <div class="row">
        <div class="col-lg-8"></div>

        <div class="col-lg-4 project project1 wow fadeInUp" onclick="location.href='project.html'"></div>
    </div>

    <div class="whitespace"></div>

    <div class="row">
        <div class="col-lg-6 project project2 wow fadeInUp" onclick="location.href='project.html'"></div>

        <div class="col-lg-6"></div>
    </div>

    <div class="whitespace"></div>

    <div class="row">
        <div class="col-lg-7"></div>

        <div class="col-lg-4 project project3 wow fadeInUp" onclick="location.href='project.html'"></div>

        <div class="col-lg-1"></div>
    </div>

    <div class="whitespace"></div>

    <div class="row">
        <div class="col-lg-1"></div>

        <div class="col-lg-5 project project4 wow fadeInUp" onclick="location.href='project.html'"></div>

        <div class="col-lg-6"></div>
    </div> -->

    <div class="whitespace"></div>
</div>
<!--------------- projects section ends here --------------->

{% endblock %}